@model NUBIFIE_Web_Portal.Controllers.MenuController.MyViewModel
@{
    ViewData["Title"] = "About us";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>NUBIFIE - About</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- =======================================================
    * Template Name: ZenBlog
    * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
    * Updated: Mar 17 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https:///bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Main ======= -->
    <main id="main">
        <section>
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-12 text-center mb-5">
                        <h1 class="page-title">About us</h1>
                    </div>
                </div>

                <div class="row mb-5">

                    @foreach (var obj in Model.ObjSysOptionList)
                    {
                        <div class="d-md-flex post-entry-2 half">
                            <a class="me-4 thumbnail">
                                <img src="~/img/building/proposed_4.jpg" alt="" class="img-fluid">
                            </a>
                            <div class="ps-md-5 mt-4 mt-md-0">
                                @* <div class="post-meta mt-4">About us</div> *@
                                <h3 class="mb-4 display-6">About the Union</h3>
                                @{
                                    var formattedContent = obj.AboutUsContent.Replace("\r\n", "<br />").Replace("\n", "<br />");
                                }
                                <p>@Html.Raw(formattedContent)</p>
                            </div>
                        </div>

                        <div class="d-md-flex post-entry-2 half mt-5">
                            <a class="me-4 thumbnail order-2">
                                <img src="~/img/building/old_1.jpg" alt="" class="img-fluid">
                            </a>
                            <div class="pe-md-5 mt-4 mt-md-0">
                                @* <div class="post-meta mt-4">History</div> *@
                                <h3 class="mb-4 display-6">Union History</h3>

                                @{
                                    var formattedContent1 = obj.HistoryContent.Replace("\r\n", "<br />").Replace("\n", "<br />");
                                }
                                <p>@Html.Raw(formattedContent1)</p>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </section>

    </main>
    <!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-legal">
            <div class="container">

                <div class="row justify-content-between">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <div class="copyright">
                            © Copyright <strong><span>NUBIFIE</span></strong>. All Rights Reserved
                        </div>

                        <div class="credits">
                            <!-- All the links in the footer should remain intact. -->
                            <!-- You can delete the links only if you purchased the pro version. -->
                            <!-- Licensing information: https://bootstrapmade.com/license/ -->
                            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
                            Designed by <a href="https://flintvision.com/">FlintVision Technology</a>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                            <a href="#" title="X (Twitter)" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" title="Facebook" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" title="Instagram" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" title="Skype" class="google-plus"><i class="bi bi-skype"></i></a>
                            <!-- <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a> -->
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </footer>

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>
